@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  --theme-color-inverse: #ffffff;
  --primary-color: #3ea1db;
  --secondary-color: #5d34ec;
  --text-color: #ffffff;
  --text-color-inverse: #000000;
  --gold: #ffd700;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  padding: 0;
  margin: 0;
}

/* Cards */

.card {
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 0 0.25rem 0.5rem 0 var(--theme-color-inverse);
}

.over-flow-h {
  overflow: hidden;
}

.card-img-top {
  transition: all 0.5s;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.card-subtitle {
  color: var(--gold);
}

/* not found general route */

#notfound {
  position: relative;
  height: 100vh;
  background: #030005;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 854px;
  width: 100%;
  line-height: 1.5rem;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 12rem;
  margin-bottom: 1em;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 14rem;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -1rem;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -0.1rem -0.1rem 0 #8400ff, 0.1rem 0.1rem 0 #ff005a;
  letter-spacing: -1rem;
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 7rem;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.1rem 0 #8400ff;
  letter-spacing: 1rem;
  margin: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 0.1rem solid;
  background: transparent;
  padding: 1em 3em;
  font-size: 1rem;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #8400ff;
}

@media only screen and (max-width: 854px) {
  .notfound .notfound-404 h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 426px) {
  .notfound .notfound-404 h1 {
    font-size: 12rem;
  }
}

/* contact */

.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav__item {
  width: 10%;
  background-color: var(--theme-color-inverse);
  border-radius: 1rem;
  padding: 0.5em;
  margin: 0.5em;
  transition: all 0.5s;
}

.nav__item:hover {
  box-shadow: 0 0.25rem 0.5rem var(--theme-color-inverse);
}

.nav__image {
  width: 100%;
}

@media (min-width: 854px) {
  .nav__list {
    justify-content: space-around;
  }
}

/* not found GitHub */

#notfound-github {
  position: relative;
  height: 100vh;
}

#notfound-github .notfound-github {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound-github {
  max-width: 854px;
  width: 100%;
  line-height: 1.5rem;
  text-align: center;
}

.notfound-github .notfound-github-404 {
  height: 12rem;
}

.notfound-github .notfound-github-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10rem;
  font-weight: 700;
  color: var(--text-color);
  margin: 0;
}

.notfound-github .notfound-github-404 h1>span {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background-image: url('/emoji.png');
  background-size: cover;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  z-index: -1;
}

.notfound-github h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  color: var(--text-color);
  text-transform: upperca-inversese;
}

.notfound-github p {
  color: var(--text-color);
  font-family: 'Montserra-inverset', sans-serif;
  font-weight: 300;
}

.notfound-github a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 1em 2em;
  font-weight: 700;
  background-color: var(--gold);
  color: var(--text-color-inverse);
  border-radius: 3rem;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound-github a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  .notfound-github .notfound-github-404 {
    height: 8rem;
  }
  .notfound-github .notfound-github-404 h1 {
    font-size: 6rem;
  }
  .notfound-github .notfound-github-404 h1>span {
    width: 6rem;
    height: 6rem;
  }
}

/* spinner */
.contenedor-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.spinner {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}